Repository JPBBots/censorbot-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext mjs,js,ts, prettier --write

Publish
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(PremiumCard)!: remove premium feature enum
  src/views/PremiumCard/PremiumCard.story.tsx
  src/views/PremiumCard/PremiumCard.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat(Footer): add hoverable and onClick
  src/views/Footer/Footer.story.tsx
  src/views/Footer/Footer.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat(Footer): add draggable heart
  src/views/Footer/Footer.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

fix(Footer): new-lined heart
  src/views/Footer/Footer.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

fix(Footer): make footer look a bit more decent on mobile
  src/views/Footer/Footer.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat(Components): add Slider
  .gitignore
  src/__stories__/Slider.story.tsx
  src/theme/components/Slider.style.ts
  src/theme/index.ts
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat(inputs): add sm size for Select & NumberInput
  src/__stories__/NumberInput.story.tsx
  src/__stories__/Select.story.tsx
  src/theme/components/NumberInput.style.ts
  src/theme/components/Select.style.ts
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat(components): add Alert component
  src/__stories__/Alert.story.tsx
  src/theme/components/Alert.style.ts
  src/theme/index.ts
Due: eslint --fix --ext mjs,js,ts, prettier --write

Chore/bump deps (#109)
  yarn.lock
Due: none

fix: UseDisclosureReturn import
  src/views/SelectMenu/SelectMenu.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

Path conditions:
  eslint --fix --ext mjs,js,ts: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json}
