Repository JPBBots/censorbot-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext mjs,js,ts, prettier --write

fix!: broken yarn.lock
  yarn.lock
Due: none

chore(release): release & version bump
  CHANGELOG.md
  package.json
Due: prettier --write

Update lerna.json
  lerna.json
Due: prettier --write

docs!: changelog stuff
  package.json
  yarn.lock
Due: prettier --write

Publish
  CHANGELOG.md
  package.json
Due: prettier --write

build: change values and have storybook-deployer(?)
  .github/workflows/deploy.action.yml
  package.json
  yarn.lock
Due: prettier --write

feat: better AvatarDropdown for NavActions
  src/theme/components/Menu.style.ts
  src/theme/index.ts
  src/views/NavActions/AvatarDropdownAction/AvatarDropdownAction.tsx
  src/views/NavActions/NavActions.story.tsx
  src/views/NavActions/NavActions.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

a
  README.md
Due: none

fix: storybook build stuff
  .gitignore
Due: none

feat: Menu component + NavActions fixes (#22)
  .github/workflows/deploy.action.yml
  .gitignore
  README.md
  package.json
  src/theme/components/Menu.style.ts
  src/theme/index.ts
  src/views/NavActions/AvatarDropdownAction/AvatarDropdownAction.tsx
  src/views/NavActions/NavActions.story.tsx
  src/views/NavActions/NavActions.tsx
  yarn.lock
Due: eslint --fix --ext mjs,js,ts, prettier --write

build: deploy storybook automatically to gh-pages
  .github/workflows/deploy-storybook.action.yml
  README.md
Due: none

Deploy Storybook
  0.23f63668.iframe.bundle.js
  0.80056516c79f91effc87.manager.bundle.js
  4.08cd528be13a97aa1915.manager.bundle.js
  4.08cd528be13a97aa1915.manager.bundle.js.LICENSE.txt
  4.347f7447.iframe.bundle.js
  4.347f7447.iframe.bundle.js.LICENSE.txt
  4.347f7447.iframe.bundle.js.map
  5.28be205a.iframe.bundle.js
  5.a788bed4faf730154838.manager.bundle.js
  6.8c563ea26544ee989c4c.manager.bundle.js
  6.8c563ea26544ee989c4c.manager.bundle.js.LICENSE.txt
  6.e1ab9e08.iframe.bundle.js
  6.e1ab9e08.iframe.bundle.js.LICENSE.txt
  6.e1ab9e08.iframe.bundle.js.map
  7.07046d71.iframe.bundle.js
  7.c769a794dac19df76f50.manager.bundle.js
  8.e08caa1d2989efb1f6d6.manager.bundle.js
  favicon.ico
  iframe.html
  index.html
  main.440c0c6fc016d13b944e.manager.bundle.js
  main.d5c5c0f0.iframe.bundle.js
  runtime~main.1a026d61ad9f0bab621e.manager.bundle.js
  runtime~main.c5f2de97.iframe.bundle.js
  static/media/components-logo.cf2cf55c.png
  vendors~main.87a832f5.iframe.bundle.js
  vendors~main.87a832f5.iframe.bundle.js.LICENSE.txt
  vendors~main.87a832f5.iframe.bundle.js.map
  vendors~main.d94248a68a5e57e43f73.manager.bundle.js
  vendors~main.d94248a68a5e57e43f73.manager.bundle.js.LICENSE.txt
Due: none

build: remove storybook deployer (no longer needed)
  .github/workflows/deploy-storybook.action.yml
  package.json
  yarn.lock
Due: prettier --write

docs: add netlify status badge
  README.md
Due: none

build: I REMOVED THE WRONG ONE
  package.json
Due: prettier --write

fix: Export new components
  src/index.ts
Due: eslint --fix --ext mjs,js,ts, prettier --write

fix: Stretch header to screen
  src/views/Header/Header.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat(Header): update header height
  src/views/Header/Header.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

fix: Header height
  src/views/Header/Header.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat: PageWrapper
  src/index.ts
  src/utils/PageWrapper/PageWrapper.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

Update Header.tsx
  src/views/Header/Header.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat: everything lmao
  src/index.ts
  src/theme/components/Button.style.ts
  src/theme/components/Popover.style.ts
  src/theme/components/Tag.style.ts
  src/theme/index.ts
  src/views/Header/Header.story.tsx
  src/views/Header/Header.tsx
  src/views/InlineOptionGroup/InlineOptionGroup.story.tsx
  src/views/InlineOptionGroup/InlineOptionGroup.tsx
  src/views/SelectMenu/SelectMenu.story.tsx
  src/views/SelectMenu/SelectMenu.tsx
  src/views/Tag/Tag.story.tsx
  src/views/Tag/Tag.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat: SelectMenu, InlineOptionGroup, Tag (#31)
  src/index.ts
  src/theme/components/Button.style.ts
  src/theme/components/Popover.style.ts
  src/theme/components/Tag.style.ts
  src/theme/index.ts
  src/views/Header/Header.story.tsx
  src/views/Header/Header.tsx
  src/views/InlineOptionGroup/InlineOptionGroup.story.tsx
  src/views/InlineOptionGroup/InlineOptionGroup.tsx
  src/views/SelectMenu/SelectMenu.story.tsx
  src/views/SelectMenu/SelectMenu.tsx
  src/views/Tag/Tag.story.tsx
  src/views/Tag/Tag.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat(Header): allow passing extra textProps for title
  src/views/Header/Header.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat(footer): add footer
  src/index.ts
  src/views/Footer/Footer.story.tsx
  src/views/Footer/Footer.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

fix(footer): remove Flex import
  src/views/Footer/Footer.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

chore(accessability): fix some issues
  src/views/Header/Header.tsx
  src/views/NavActions/AvatarDropdownAction/AvatarDropdownAction.tsx
  src/views/NavActions/NavActions.tsx
Due: eslint --fix --ext mjs,js,ts, prettier --write

Path conditions:
  eslint --fix --ext mjs,js,ts: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json}
